<div class="main">
  <div class="header">
    <div class="hheder">
      <h1 class="h1">LCOへようこそ！！！</h1>
        <p class="bun">このアプリケーションは給与に対しての生活コストの最適化を管理するアプリです</p>
    </div>
  </div>
  <div class="center">
    <h1 class="dai"> ＊こんな経験ありませんか？＊ </h1>
      <div class="info">
        <%= link_to image_tag("lco.jpeg", class:"nageki"), "#" %>
        <div class="list">
         <ul>・今月の生活費が足りない</ul>
          <ul>・なぜか今月生活が辛い</ul>
          <ul>・不明な出費が嵩んで生活を圧迫している</ul>
          <ul>・貯金がうまくできない</ul>
        </div>
      </div>
    <h1 class="dai2">『原因は生活費を管理していないから』</h1>
    <h1>このアプリでは</h1>
      <div class="list2">
        <a class="kane">『給与』</a>
        <a>ー<a>
        <a class="kane">固定費</a>
        <a>(家賃・光熱費・交通費)<a>
        <a>＋<a>
        <a class="kane">変動費</a>
        <a>(食費・生活用品・雑費)<a>
      </div>
    <h1 class="saigo">これらを自動で計算し、生活コストの最適化を提案します！</h1>
  </div>
  <div class="footer">
    <h1 class="fot">＊まずは試しにやってみよう！＊</h1>
      <form>
        <a class="fon">給与</a>
        <input type="text">
        <a class="fon"> 固定費</a>
        <input type="text"> </a>
        <a class="fon"> 変動費</a>
        <input type="text">
        <input type="submit" value="計算してみる" class="submit">
      </form>
    <h1 class="botton">＊会員登録がお済みでない方は利用できない場合があります＊</h1>
  </div>
</div>