.main{
height: 1400px;
width: 1000px;
background-color: aliceblue;
margin: 0 auto;
}

.header{
height: 200px;
width: 100%;
background-color: white;
}

.hheder{
  height: 200px;
  width: 100%;
  background-color: white;
  border: 2px double;
}

.h1{
  font-size: 50px;
  padding: 20px 200px;
}

.bun{
  padding: 0px 140px;
}

.center{
height: 600px;
width: 100%;
background-color: white;
border: 1px double;
}

.dai{
  font-size: 50px;
  padding: 20px 90px;
}

.info{
  display: flex;
}

.list{
  font-size: 30px;
}

.dai2{
  color: red;
  font-size: 45px;
  padding: 30px 30px;
}

.list2{
  padding: 20px 0px;
}

.kane{
  font-size: 45px;
}

.saigo{
  font-size: 25px;
  color: red;
  padding: 0px 90px;
  background-color: aqua;
}


.footer{
height: 600px;
width: 100%;
background-color: white;
border: 1px double;
}

.fot{
  padding: 30px 50px;
}

.fon{
  padding: 0px 30px;
}

.submit{
  margin: 60px auto;
}

.botton{
  color: red;
  padding: 10px 10px;
  background-color: black;
}